@charset "utf-8";
/* CSS Document */
body {
	overlfow-x:hidden;
}
@font-face{ 

font-family: 'Orator std'; 

src: url( "../fonts/OratorStd.otf") format('opentype'); 

src: url( "../fonts/OratorStd.ttf") format('truetype'); 

} 
.height{
	
	height:6rem;
}
 .height2{
	
	height:2rem;
}
 


@font-face{ 

font-family: 'geometos'; 

src: url("../fonts/Geometos.otf") format('opentype');	 

} 


  

.fuente1{ 

font-family: 'Orator std'; 
	font-size: clamp(1.25rem, 1.25vw,1.25rem);
	color: #ffffff;

} 

  

.fuente2{ 

font-family: 'geometos'; 
	color: #000000;

} 

.fuente3{ 

font-family: 'geometos'; 
	color: #ffffff;
}

.letrablanca{
	color: #ffffff;
	
}




  
body {
	overflow-x: hidden;
	font-size: clamp(0.7rem, 2.5vw, 1rem);
	font-family: 'geometos';
}

h1 {
	font-family: 'geometos';
	font-size: clamp(0.7rem, 2.5vw, 5rem);
}


.div2 {
  width: 50%;
  height: 60%;
  padding: 50px;
  border: 1px;
}

.filltextcontainer{
	  text-align: center;
		font-size: 8.0vw;
}
.filltextcontainer2{
	  text-align: center;
		font-size: 3.0vw;
}
.fondo-nav{
    font-family: 'geometos', serif;
}
.solid {border-style: solid;
  border-width: 5px;
}
.letrash:hover
	{
	color:#FFD8E6;
}
.letrashtwo:hover
	{
	color:#000000;
}

.letritas{
		font-size: clamp(0.7rem, 2.5vw, 1rem);
		color:#FFFFFF;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: none;
    border-radius: .3rem;
    outline: none;
}

.bg-modal{
    background-color: var(--color-principal);
}
.bkg-blanco{
    background-color: white;
}
.txt-blanco{
    color: white;
}
.txt-negro{
    color: black;
}


/*--------------------------------------------------------------
# Ejemplo 1 Galeria con modal
--------------------------------------------------------------*/
#portfolio .portfolio-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--color-principal);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}



#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: 'Monoton', cursive;
    color: var(--color-principal);
    font-size: clamp(1.5rem, 1vw, 5rem);
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;

  cursor: pointer;
  background-color: transparent;
}


.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
#portfolio .portfolio-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background:#ff3399;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

@media (max-width : 1499px ){
	
	
	#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background:#FFE2EF;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
}

.nav-item{
	padding: 0 80px !important;
}


.navbar-toggler-icon{
	
	background-image: url(" "../img/ICONMRKIA.ico"");
}

.letrasnegro{
	color:#FF2B90;
}

.aboutme{
	color:#FFFFFF;
	font-size: clamp(1rem, 1vw,1rem);
	font-family: 'Orator std'; 
	
}

.acomodar{
	display:flex;
	align-items: center;
	justify-content: center;
	
	
}

.letra {
}
